body {
  margin: 0;
  font-family: 'Manjari', sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  float: left;
  color: #92d5d6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 100%;
}

.topnav a:hover {
  background-color: #92d5d6;
  color: white;
}

.topnav a.active {
  background-color: #f7f399;
  color: white;
}

img {
	width: 10%;
	height: 10%;
	float:left;
}

body {
  margin: 0;
  font-family: 'Manjari', sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  float: left;
  color: #92d5d6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 100%;
}

.topnav a:hover {
  background-color: #92d5d6;
  color: white;
}

.topnav a.active {
  background-color: #f7f399;
  color: white;
}

img {
	width: 10%;
	height: 10%;
	float:left;
}

.intro{
  margin-left: 250px;
  margin-right: 250px;  
}

table.classes {
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}




