body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.topnav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
 	overflow: hidden;
 	background-color: white;
	font-family: 'Manjari', sans-serif;
}

.topnav a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #369eba;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #369eba;
  color: white;
}

.topnav a#active {
  background-color: #f2df61;
  color: #142d91;
}

img {
	display: block;
	float:left;
	height: 60px;
	width: 100px;
	margin: auto;
}

.top {
	display: grid;
	grid-template-columns: 6fr 1fr;
	margin-left: 35px;
	margin-right: 25px;
}

.intro{
   margin-right: 35px;
}

.courseContent {
	display: flex;
  	justify-content: center;
 	align-items: center;
}

.courseButton{
	background-color: white;
	color: black;
	border: 2px solid black;
	font-size: 16px;
	padding: 16px 32px;
	margin: 4px 2px;
}

.courseButton:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}

.facets {
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 10px;
  font-size: 12px;
  color: white;
}

.facets table {
	border: 1px solid gray;
	border-collapse: collapse;
	padding: 10px;
	font-size: 12px;
	color: white;
}

.facets td {
	border: 1px solid gray;
	border-collapse: collapse;
	padding: 10px;
	font-size: 12px;
	color: white;
}

.facets th {
	border: 1px solid gray;
	border-collapse: collapse;
	padding: 10px;
	font-size: 12px;
	color: white;
}

#contentTextbooks table {
	border-collapse: collapse;
	padding: 10px;
	font-size: 15px;
	text-align: center;
	width: 100%;
}

#contentMath table {
	border-collapse: collapse;
	padding: 10px;
	font-size: 15px;
	text-align: center;
	width: 100%;
}

#contentMath th, td {
	padding: 15px;
}

#contentLogistics table {
	border-collapse: collapse;
	padding: 10px;
	font-size: 15px;
	text-align: center;
	width: 100%;
}

.classes {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

h1{
	font-size: 25px;
	text-align: center;
}

h2{
	font-size: 16px;
}

#title {
	font-size: 20px;
}

.note {
	margin-right: 7%;
	margin-left: 7%;
	margin-top: 1%;
}

.smaller {
	font-size: 15px;
}

ol {
	text-align: left;
	margin-right: 10px;
}

ul {
	text-align: left;
}

.link {
	color: white;
}

.classes {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.dark {
	background-color: #142d91;
	color: white;
	border-radius: 15px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin: 15px;
}

.light {
	background-color: #369eba;
	color: white;
	border-radius: 15px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin: 15px;
}

.facetsButton{
	background-color: #369eba;
	color: white;
	border: 2px solid white;
	font-size: 15px;
	padding: 8px 16px;
	margin: 2px 1px;
}

.facetsButton:hover {
	background-color: white;
	color: #369eba;
	cursor: pointer;
}

.goFacetsButton {
	text-align: center;
}

.projectsButton{
	background-color: #142d91;
	color: white;
	border: 2px solid white;
	font-size: 15px;
	padding: 8px 16px;
	margin: 2px 1px;
}

.projectsButton:hover {
	background-color: white;
	color: #142d91;
	cursor: pointer;
}

.goProjectsButton {
	text-align: center;
}

/* YELLOW COLLAPSIBLE */
  .collapsibleYellow {
	background-color: #f2df61;
	color: black;
	border: 2px solid #f2df61;
  	font-size: 16px;
	cursor: pointer;
	padding-left: 18px;
	padding-top: 20px;
	padding-bottom: 16px;
	margin-bottom: 20px;
	width: 100%;
	text-align: left;
	outline: none;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .activeYellow, .collapsibleYellow:hover {
	background-color: black;
	color: #f2df61;
	border: 2px solid black;
	cursor: pointer;
  }

  .collapsibleYellow:after {
	/*content: '\02795';*/ /* Unicode character for "plus" sign (+) */
	content:'\002B'; /*plus*/
	font-size: 20px;
	color: black;
	float: right;
	margin-left: 5px;
  }

  .collapsibleYellow:hover:after {  
	/*content: '\02795';*/ /* Unicode character for "plus" sign (+) */
	content:'\002B'; 
	font-size: 20px;	
	color: #f2df61;
	float: right;
	margin-left: 5px;
  }

  .activeYellow:after {
	content: '\002D'; /* Unicode character for "minus" sign (-) */
	color: #f2df61;
  }

  .activeYellow:hover:after {  
	/*content: '\02795';*/ /* Unicode character for "plus" sign (+) */
	content: '\002D';
	font-size: 20px;	
	color: #f2df61;
	float: right;
	margin-left: 5px;
  }

  .resources {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
  }

  #contentTextbooks, #contentMath, #contentLogistics {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: #f2df61;
	opacity: 85%;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 20px;
  }

  .button3 {
	background-color: #f2df61;
	color: black;
	border: 2px solid black;
	font-size: 16px;
	padding: 8px 16px;
	margin: 2px 1px;
	border-radius: 10px;
	margin-bottom: 20px;
  }

  .button3:hover {
	background-color: black;
	color:#f2df61;
	cursor: pointer;
  }

  .title {
	  text-align: center;
	  font-size: 25px;
	  margin-top: 20px;
  }
  .contentFacetsHidden{
	display:none;
	/*
	padding: 0 18px;
	background-color: #142d91;
	color: white;
	opacity: 100%;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 20px;*/
  }
  /*
  #contentFacets.contentFacetsShowing{
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 0 18px;
	background-color: #142d91;
	color: white;
	opacity: 100%;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 20px;
  }
  .insideFacets{
	float: left;
	width: 50%;
	padding: 10px;
  }*/

  #contentFacets table {
	border-collapse: collapse;
	vertical-align: top;
	padding: 10px;
	font-size: 15px;
	width: 100%;
	color: white;
}