body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.topnav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
 	overflow: hidden;
 	background-color: white;
	font-family: 'Manjari', sans-serif;
}

.topnav a {
  float: left;
  color: #369eba;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  align-items: center;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #369eba;
  color: white;
}

.topnav a#active {
  background-color: #f2df61;
  color: #142d91;
}

img {
	display: block;
	float:left;
	height: 60px;
	width: 100px;
	margin: auto;
}

.top {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.bottom {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.calendar {
	margin-top: 25px;
	margin-bottom: 15px;
	margin-right: 15px;
	margin-left: 30px;
}

.dates {
	margin-top: 25px;
	margin-bottom: 15px;
	margin-right: 30px;
	margin-left: 15px;
	background-color: #f2df61;
	border-radius: 15px;
	padding: 10px;
	text-align: center;
}

ul {
	text-align: left;
}

ol {
	text-align: left;
}

a {
	color: white;
}

.dates a {
	color: black;
}

.welcome {
	margin-top: 15px;
	margin-right: 20px;
	margin-left: 30px;
	margin-bottom: 10px;
	background-color: #369eba;
	border-radius: 15px;
	padding: 10px;
	text-align: center;
	color: white;
}

.closing {
	margin-top: 15px;
	margin-right: 30px;
	margin-left: 20px;
	margin-bottom: 10px;
	background-color: #142d91;
	border-radius: 15px;
	padding: 10px;
	text-align: center;
	color: white;
}

#schedule {
	font-size: 22px;
}

.title {
	font-size: 17px;
}
