body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  text-align: center;
}

.developers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
}

.both {
  background-color: #f2df61;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  border-radius: 15px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
}

.anisha {
  background-color: #369eba;
  margin-left: 10%;
  margin-right: 5%;
  border-radius: 15px;
  padding-left: 5%;
  padding-right: 5%;
}

.alise {
  background-color: #142d91;
  margin-left: 5%;
  margin-right: 10%;
  border-radius: 15px;
  padding-left: 5%;
  padding-right: 5%;
}

h2 {
  text-align: center;
}

button{
  background-color: #f2df61;
  border: 2px solid black;
  font-size: 16px;
  padding: 16px 32px;
  margin: 4px 2px;
  border-radius: 10px;
}

button:hover {
	background-color: black;
	color: #f2df61;
	cursor: pointer;
}
