body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.topnav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
 	overflow: hidden;
 	background-color: white;
	font-family: 'Manjari', sans-serif;
}

.topnav a {
  float: left;
  color: #369eba;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  align-items: center;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #369eba;
  color: white;
}

.topnav a#active {
  background-color: #f2df61;
  color: #142d91;
}

img {
	display: block;
	float:left;
	height: 60px;
	width: 100px;
	margin: auto;
}

.info {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.application {
	margin-right: 30px;
	margin-left: 40px;
	margin-bottom: 20px;
	background-color: #369eba;
	border-radius: 15px;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
}

.registration {
	margin-right: 40px;
	margin-left: 30px;
	margin-bottom: 20px;
	background-color: #142d91;
	border-radius: 15px;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
}

h3 {
	margin-top: 35px;
	margin-left: auto;
	margin-right: auto;
	font-size: 40px;
	background-color: #f2df61;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
}

h1 {
	font-size: 35px;
	text-align: center;
}

h2 {
	font-size: 17px;
}

.title {
	font-size: 22px;
}
.small_title{
	font-size: 20px;
	line-height: 16px;
}
a {
	color: white;
	font-size: 18px;
}

button{
  background-color: #369eba;
  color: white;
  border: 2px solid white;
  font-size: 16px;
  padding: 16px 32px;
  margin: 4px 2px;
}

button:hover {
	background-color: white;
	color: #369eba;
	cursor: pointer;
}

.applyButton {
	text-align: center;
}

ul {
	text-align: left;
}

/* Application: Style the button that is used to open and close the collapsible content */
.collapsibleLeft {
	background-color: #369eba;
  	color: white;
  	border: 2px solid white;
  	font-size: 16px;
	cursor: pointer;
	padding-left: 18px;
	padding-top: 20px;
	padding-bottom: 16px;
	width: 100%;
	text-align: left;
	outline: none;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .activeLeft, .collapsibleLeft:hover {
	background-color: white;
	color: #369eba;
	cursor: pointer;
  }

  .collapsibleLeft:after {
	/*content: '\02795';*/ /* Unicode character for "plus" sign (+) */
	content:'\002B'; /*plus*/
	font-size: 20px;
	color: white;
	float: right;
	margin-left: 5px;
  }

  .collapsibleLeft:hover:after {  
	/*content: '\02795';*/ /* Unicode character for "plus" sign (+) */
	content:'\002B'; 
	font-size: 20px;	
	color: #369eba;
	float: right;
	margin-left: 5px;
  }

  .activeLeft:after {
	content: '\002D'; /* Unicode character for "minus" sign (-) */
	color: #369eba;
  }

  .activeLeft:hover:after {  
	/*content: '\02795';*/ /* Unicode character for "plus" sign (+) */
	content: '\002D';
	font-size: 20px;	
	color: #369eba;
	float: right;
	margin-left: 5px;
  }



/* Enrollment: Style the button that is used to open and close the collapsible content */
.collapsibleRight {
	background-color: #142d91;
  	color: white;
  	border: 2px solid white;
  	font-size: 16px;
	cursor: pointer;
	padding-left: 18px;
	padding-top: 20px;
	padding-bottom: 16px;
	width: 100%;
	text-align: left;
	outline: none;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .activeRight, .collapsibleRight:hover {
	background-color: white;
	color: #142d91;
	cursor: pointer;
  }

  .collapsibleRight:after {
	/*content: '\02795';*/ /* Unicode character for "plus" sign (+) */
	content:'\002B'; /*plus*/
	font-size: 20px;
	color: white;
	float: right;
	margin-left: 5px;
  }

  .collapsibleRight:hover:after {  
	/*content: '\02795';*/ /* Unicode character for "plus" sign (+) */
	content:'\002B'; 
	font-size: 20px;	
	color: #142d91;
	float: right;
	margin-left: 5px;
  }

  .activeRight:after {
	content: '\002D'; /* Unicode character for "minus" sign (-) */
	color: #142d91;
  }

  .activeRight:hover:after {  
	/*content: '\02795';*/ /* Unicode character for "plus" sign (+) */
	content: '\002D';
	font-size: 20px;	
	color: #142d91;
	float: right;
	margin-left: 5px;
  }


  /* Style the collapsible content. Note: hidden by default */
  
  .content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #fafbff2d;
	margin-left: 2.5px;
  }
