body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x:hidden;
}

#title {
	text-align:center;
  font-size: 60px;
  margin: 30px;
}

.topnav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
    background-color: white;
    font-family: 'Manjari', sans-serif;
}

.topnav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #369eba;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #369eba;
    color: white;
}

img {
	display: block;
	float:left;
	height: 60px;
	width: 100px;
	margin: auto;
}

#pageTitle {
    text-align:center;
    font-size: 40px;
    padding-bottom: 16px;
    padding-top: 10px;    
    margin: 0;
}

.facets {
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 10px;
  font-size: 14px;
  color: white;
}

.facets table {
	border: 1px solid gray;
	border-collapse: collapse;
	padding: 10px;
	font-size: 14px;
	color: white;
}

.facets td {
	border: 1px solid gray;
	border-collapse: collapse;
	padding: 10px;
	font-size: 14px;
	color: white;
}

.facets th {
	border: 1px solid gray;
	border-collapse: collapse;
	padding: 10px;
	font-size: 16px;
	color: white;
}

#contentFacets table {
	border-collapse: collapse;
	vertical-align: top;
	padding: 10px;
	font-size: 14px;
	width: 100%;
	color: white;
}

#contentFacets {
  background-color: #142d91;
  border-radius: 35px;
  padding: 35px;
  margin-left: 50px;
  margin-right: 50px;
}

h2 {
  font-size: 16px;
}

.smaller {
  font-size: 14px;
}

.facets1 {
  margin-right: 10px;
}

a {
  color: white;
}

.goBack{
  background-color: #142d91;
  border: 2px solid white;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  margin: 4px 2px;
  border-radius: 10px;
}

.goBack:hover {
	background-color: white;
	color: #142d91;
	cursor: pointer;
}

.centerButton {
  text-align: center;
}

.bulletSpacing {
  line-height: 2px;
}

.newLineSpacing {
  line-height: 0;
}