body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.topnav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
 	overflow: hidden;
 	background-color: white;
  font-family: 'Manjari', sans-serif;
}

.topnav a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #369eba;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  line-height: 18px;
}

.topnav a:hover {
  background-color: #369eba;
  color: white;
  text-decoration: none;
}

.topnav a#active {
  background-color: #f2df61;
  color: #142d91;
}

#logo {
	display: block;
	float:left;
	height: 60px;
	width: 100px;
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 40px;
}

.carousel-item.active, .carousel-item-next, .carousel-item-prev {
    display:grid !important;
}


.imagesProjects {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.carousel-inner img {
  height: 300px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.carousel-item {
  text-align: left;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

.oneProject {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 100px;
}

.projectPic img {
  height: 200px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


