body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #98777b;
}

.topnav a {
  float: left;
  color: #92d5d6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #da614e;
  color: black;
}

.topnav a.active {
  background-color: #f7f399;
  color: white;
}

