body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.topnav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
 	overflow: hidden;
 	background-color: white;
	font-family: 'Manjari', sans-serif;
}

.topnav a {
  float: left;
  color: #369eba;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  align-items: center;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #369eba;
  color: white;
}

.topnav a#active {
  background-color: #f2df61;
  color: #142d91;
}

.bottomnav {
  display: grid;
	grid-template-columns: 1fr 1fr;
  overflow: hidden;
  background-color: #00609C;
  opacity: 0.92;
  bottom: 0;
  margin-top: 1%;
  color: white;
}

#contact {
  padding-top: 2%;
  padding-left: 5%;
}

.developers a {
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: white;
}

.developers {
  opacity: 0.8;
  padding-right: 3%;
}

.developers:hover {
  opacity: 1;
	cursor: pointer;
}

img {
	display: block;
	float:left;
	height: 60px;
	width: 100px;
	margin: auto;
}

.boxes {
	display: grid;
	grid-template-columns: 50% 50%;
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
}

.info {
	padding: 40px;
}

object {
	text-align: center;
}

.bullets {
	background-color: #142d91;
	color: white;
	margin-top: 85%;
	margin-bottom:15px;
	padding: 10px;
	border-radius: 15px;
}

a {
	color: black;
}

.bullets a {
	color: white;
}

ul {
	text-align: left;
}

.leftside {
	margin-right: 17px;
}

.rightside {
	margin-left: 17px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  margin: 25px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
