body {
  margin: 0;
  font-family: 'Manjari', sans-serif;
}

.topnav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
 	overflow: hidden;
 	background-color: white;
}

.topnav a {
  float: left;
  color: #92d5d6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  align-items: center;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #92d5d6;
  color: white;
}

.topnav a#active {
  background-color: #f7f399;
  color: black;
}

img {
	display: block;
	float:left;
	height: 60px;
	width: 100px;
	margin: auto;
}

.boxes {
	display: grid;
	grid-template-columns: 50% 50%;
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
}

.info {
	padding: 40px;
}

object {
	text-align: center;
}

.bullets {
	background-color: #92d5d6;
	margin-top: 85%;
	padding: 10px;
}

.leftside {
	margin-right: 17px;
}

.rightside {
	margin-left: 17px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  margin: 25px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

