body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.topnav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
 	overflow: hidden;
 	background-color: white;
	font-family: 'Manjari', sans-serif;
}

.topnav a {
  float: left;
  color: #369eba;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  align-items: center;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #369eba;
  color: white;
}

.topnav a#active {
  background-color: #f2df61;
  color: #142d91;
}

img {
	display: block;
	float:left;
	height: 60px;
	width: 100px;
	margin: auto;
}

.info {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.housing {
	margin-top: 35px;
	margin-right: 30px;
	margin-left: 40px;
	margin-bottom: 20px;
	padding: 10px;
	background-color: #369eba;
	text-align: center;
	border-radius: 15px;
	color: white;
}

.dining {
	margin-top: 35px;
	margin-right: 40px;
	margin-left: 30px;
	margin-bottom: 20px;
	padding: 10px;
	background-color: #142d91;
	text-align: center;
	border-radius: 15px;
	color: white;
}

h1 {
	font-size: 35px;
}

h2 {
	font-size: 17px;
}

a {
	color: white;
}

button{
  background-color: #369eba;
  color: white;
  border: 2px solid white;
  font-size: 16px;
  width: 100px;
  height: 50px;
  margin: 4px 2px;
}

button:hover {
	background-color: white;
	color: #369eba;
	cursor: pointer;
}

.title {
	font-size: 20px;
}

ul{
	text-align:left;
}
