body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.topnav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
 	overflow: hidden;
 	background-color: white;
	font-family: 'Manjari', sans-serif;
}

.topnav a {
  float: left;
  color: #369eba;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  align-items: center;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #369eba;
  color: white;
}

.topnav a#active {
  background-color: #f2df61;
  color: #142d91;
}

img {
	display: block;
	float:left;
	height: 60px;
	width: 100px;
	margin: auto;
}

.residential {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: #369eba;
	border-radius: 15px;
	padding-top: 15px;
	margin-left: 25px;
	margin-right: 25px;
	text-align: center;
}

.registration {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: #142d91;
	border-radius: 15px;
	padding: 10px;
	margin-left: 25px;
	margin-right: 25px;
	text-align: center;
}

.resources {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 25px;
	text-align: center;
	padding: 10px;
}

.textbooks {
	display: grid;
	grid-template-columns: 1fr;
	margin-right: 15px;
	background-color: #f2df61;
	border-radius: 15px;
	padding: 10px;
}

.math {
	display: grid;
	grid-template-columns: 1fr;
	margin-right: 15px;
	margin-left: 15px;
	background-color: #f2df61;
	border-radius: 15px;
	padding: 10px;
}

.logistics {
	display: grid;
	grid-template-columns: 1fr;
	margin-left: 15px;
	background-color: #f2df61;
	border-radius: 15px;
	padding: 10px;
}

button{
  font-size: 16px;
  padding: 14px 14px;
  margin: 4px 2px;
  border-radius: 10px;
}

button:hover {
	cursor: pointer;
}

.button1 {
	background-color: #369eba;
	color: white;
	border: 2px solid white;
}

.button1:hover {
	background-color: white;
	color: #369eba;
}

.button2 {
	background-color: #142d91;
	color: white;
	border: 2px solid white;
}

.button2:hover {
	background-color: white;
	color: #142d91;
}

.button3 {
	background-color: #f2df61;
	border: 2px solid black;
}

.button3:hover {
	background-color: black;
	color: #f2df61;
}

.title {
	text-align: center;
	font-size: 35px;	
}

.category {
	font-size: 25px;
}

.docs .category {
	margin-left: 25px;
}

