html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: system-ui, sans-serif;
}

.topnav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  overflow: hidden;
  background-color: white;
  font-family: 'Manjari', sans-serif;
  width: 100%;
}

.topnav a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #369eba;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  line-height: 18px;
}

.topnav a:hover {
  background-color: #369eba;
  color: white;
  text-decoration: none;
}

.topnav a#active {
  background-color: #f2df61;
  color: #142d91;
}

#logo {
  display: block;
  float:left;
  height: 60px;
  width: 100px;
  margin: auto;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav {
  white-space: nowrap;
  position: sticky;
  top: 50;
  text-align: center;
}

nav ul li a {
  display: block;
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none; 
  background: #142d91;
}

nav ul li a:hover {
  color: white;
}

nav ul li a.current {
  color: #142d91;
  background: white;
  text-decoration: none;
}

main {
  padding-bottom: 40rem;
}

section {
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 0 2rem 0;
}

h1 {
  text-align: center;
  font-size: 40px;
}

.carousel-item.active, .carousel-item-next, .carousel-item-prev {
  display:grid !important;
}

.imagesProjects {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.twoYears {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.carousel-inner img {
  /*height: 300px;*/
  height: 350px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 7%;
}

.carousel-item {
  text-align: left;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

.oneProject {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 100px;
}

.projectPic img {
  height: 150px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectsSide {
  margin-left: 100px;
  margin-right: 100px;
}

.testimonials p{
  margin-left: 10%;
  margin-right: 10%;
}

.projectDescription{
  margin-left: 20px;
  margin-right: 20px;
}

h3 {
  font-size: 22px !important;
}

h4 {
  font-size: 17px !important;
}

h5 {
  font-size: 15px !important;
}

h6 {
  font-size: 12px !important;
}

h6 a {
color: black;
}

h6 a:hover {
color: black;
}

h2 {
font-size: 25px !important;
}

.yearTitle {
font-size: 30px !important;
}

.theContent{
  display: grid;
  grid-template-columns: 1fr 10fr;
}

@media (max-width: 850px) {
  .imagesProjects {
      display: grid;
      grid-template-columns: 1fr;
  }

  .oneProject {
      display: grid;
      grid-template-columns: 1fr;
  }
}

.yearTitle {
  position: relative;
  display: inline-block;
  color: black;
}

.yearTitle .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #369eba;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  

  position: absolute;
  z-index: 1;
  bottom: 2%;
  left: 105%;
}

.tooltiptext {
  font-size: 15px;
}

.yearTitle:hover .tooltiptext {
  visibility: visible;
}

.yearTitle:hover {
  color: black;
  text-decoration: none;
}

.yearTitle,.yearTitle:visited,.yearTitle:hover,.yearTitle:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
  transition:0.5s color ease;
	text-decoration:none;
	color: rgb(100, 100, 100);
  font-size:2.5em;
}

.yearTitle:hover{
	color:#369eba;
}

.yearTitle.before:before,.yearTitle.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}

/* TOP LINE POSITION */
.yearTitle.before:before{
  top:-0.25em;
  left: -0.4em;
}

/* BOTTOM LINE POSITION */
.yearTitle.after:after{
  bottom:-0.25em;
  left: -0.4em;
}

/* WHERE TOP AND BOTTOM COME FROM */
.yearTitle.before:before,.yearTitle.after:after{
  height:5px;
  height:0.35rem;
  width:0;
  background:#369eba;
}

.square{
  box-sizing:border-box;
  margin-left:-0.4em;
  position:relative;
  font-size:2.5em;
  overflow:hidden;
}

/* AROUND YEAR TEXT */
.square a{
  position:static;
  font-size:100%;
  padding:0.2em 0.4em;
}

/* WHERE LEFT AND RIGHT PLACED */
.square:before,.square:after{
  content: "";
  box-sizing:border-box;
  transition:0.25s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
  width:5px;
  width:0.35rem;
  height:0;
  background:#369eba;
}

/* LEFT LINE */
.square:before{
  left:0;
  bottom: 0em;
}
.square.individual:before{
  transition-delay:0.6s;
}

/* RIGHT LINE */
.square:after{
  right:0;
  top: 0.2em;
}
.square.individual:after{
  transition-delay:0.2s;
}

/* WHERE TOP LINE COMES FROM */
.square a:before{
  transition:0.25s all ease;
}

/* WHERE BOTTOM LINE COMES FROM */
.square a:after{
  transition:0.25s all ease;
}
.square.individual a:after{
  transition:0.25s all ease 0.4s;
}

/* LEFT AND RIGHT LINES ON HOVER */
.square:hover:before,.square:hover:after{
  height:calc(100% - 0.2em);
}

/* TOP AND BOTTOM LINES ON HOVER */
.square:hover a:before,.square:hover a:after{
  width:100%;
  margin: 0.4em;
}
